<header class="auth-navbar">
  <div class="auth-navbar__inner">
    <a class="auth-navbar__brand" href="javascript:void(0)">
      <span class="auth-navbar__logo">
      </span>
      <span class="auth-navbar__name">
        {{ 'AUTH_NAVBAR.BRAND' | translate }}
      </span>
    </a>

    <nav class="auth-navbar__links">
      <a class="auth-navbar__link" href="javascript:void(0)">
        {{ 'AUTH_NAVBAR.LINKS.HELP' | translate }}
      </a>
      <a class="auth-navbar__link" href="javascript:void(0)">
        {{ 'AUTH_NAVBAR.LINKS.HOME' | translate }}
      </a>

      <app-language-switcher></app-language-switcher>
    </nav>
  </div>
</header>
